<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Go_Emotions Model Deployment</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Enter a text for prediction</h1>
        <form action="{{ url_for('predictor')}}"method="post">

            <input type='text' name='text' placeholer='Enter Text' required='required'/>
            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>

        </form>

        {% if text_pred %}
            <h2>Classification Result:</h2>
            <p>{{ text_pred }}</p>

            {% if top_preds %}
                <h3>Top Predictions:</h3>
                <ul>
                    {% for pred in top_preds %}
                        <li>{{ pred[0] }} - {{ '%.2f' | format(pred[1]*100) }}%</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
    </body>
</html>